*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: transparent;
    font-family: sans-serif;
    font-size: 10px;
    background-image: linear-gradient(rgba(185, 190, 166, 0.164), rgba(248, 248, 201, 0.688)),
    url("./bg.jpg");
    padding: 50px;
}

h1{
    font: size 14px;
    margin-bottom: 25px;
}

h3{ 
    margin-top:25px;
    margin-bottom: 5px;
    text-align: center;
}

.first{
    color:blueviolet;
    border: 1px solid;
    background-color: azure;
}

.second{
    color:rgb(7, 50, 51);
    font-size: size 4px;
    padding: 25px;
    text-align: center;
    border: 5px;
}

#your-name{
    width: 600px;
    font-size:13px ;
    text-align: center;
    padding: 15px;
    border: 5px;
    margin-left: 200;
}

p{
    margin-bottom: 10px;
}

input,button
{
    padding: 10px;
    font-size:16px;
}

#your-name h4
{
    font-family: Arial;
    color:blueviolet
}

#course-image{
    width:400px;
    margin-left: 100px;
}